@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f4f4f4;
  background: linear-gradient(-135deg, #fc466b 0%, #3f5efb 100%);
}

h1 {
  text-align: center;
}
